/nbproject/private
/node_modules
/publish
/build/vendor

/mozilla_firefox/harness-options.json
/mozilla_firefox/install.rdf
/mozilla_firefox/resources/point_sharp/data/vendor
/mozilla_firefox/resources/point_sharp/data/js/point_sharp_shared_code.js
/mozilla_firefox/resources/point_sharp/data/js/point_sharp_shared_code_additional.js
/mozilla_firefox/resources/point_sharp/data/js/point_sharp_shared_code_websocket.js
/mozilla_firefox/resources/point_sharp/data/js/bquery_ajax.js
/mozilla_firefox/resources/point_sharp/data/js/point_sharp_options_list.js
/mozilla_firefox/resources/point_sharp/data/js/point-options.js
/mozilla_firefox/resources/point_sharp/data/css/additional
/mozilla_firefox/resources/point_sharp/lib/main.js


/chrome_point_plus/manifest.json
/chrome_point_plus/vendor
/chrome_point_plus/js/point_sharp_shared_code.js
/chrome_point_plus/js/point_sharp_shared_code_additional.js
/chrome_point_plus/js/point_sharp_shared_code_websocket.js
/chrome_point_plus/js/bquery_ajax.js
/chrome_point_plus/js/point_sharp_options_list.js
/chrome_point_plus/js/point-options.js
/chrome_point_plus/js/markitup_set.js
/chrome_point_plus/css/additional

/chrome_point_plus/js/date.format.js

/mozilla_firefox/resources/point_sharp/data/js/date.format.js
