/nbproject/private
/node_modules
/publish
/build/vendor

/chrome_point_plus/manifest.json
/chrome_point_plus/vendor
/chrome_point_plus/css/additional
/chrome_point_plus/web-ext-artifacts

/mozilla_firefox_pack

