/* Options page */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    padding: 5px;

    color: #000;
    background: #eee;
}

body.point-options-castrate {
    width: 450px;
    height: 450px;
    overflow-x: hidden;
}

.point-options-castrate.point-options-wrapper .tabs-content,
.point-options-castrate .point-options-wrapper .tabs-content {
    height: 345px;
}

.point-firefox.point-options-wrapper .tabs-content,
.point-firefox .point-options-wrapper .tabs-content {
    max-width: 425px;
}
