/* Point.Im */
/* MarkItUp margin fix */
div#markItUpText-input {
    margin-top: 30px;
}

/* MarkItUp override */
.markItUp  {
    width: 770px;
}

/* Point+ */

/* Post and comments highlights */
.pp-highlight {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFBB;
}

.post .info, .post .post-content {
    z-index: 2;
    position: relative;
}

/* Options page */
.pp-options {
    width: 450px;
    height: 450px;
    background: #EEE;
}

/* Tabs style */
.pp-options .usual {
    width:450px;
    margin: 5px;
}

.pp-options .usual ul {
    padding: 0 0 10px 0;
    margin: 0 0 18px 0;
}

.pp-options .usual li { 
    list-style: none; 
    float: left; 
}
.pp-options .usual ul a {
    display: block;
    padding: 6px 10px;
    text-decoration: none!important;
    margin: 1px;
    margin-left: 0;
    font: 12px Georgia;
    color: #FFF;
    background: #C8C8C8;
    border-radius: 15px 15px 0 0;
}
.pp-options .usual ul a:hover {
    color: #FFF;
    background: #BBB;
}
.pp-options .usual ul a.selected {
    margin-bottom: 0;
    color: #FFF;
    background: #A5A5A5;
    cursor: default;
}
.pp-options .usual div#tabs-content {
    margin: 0 5px 0 0;
    padding: 5px;
    background-color: #A5A5A5;
    border-radius: 0 15px 0 0;
    
}
.pp-options .usual #panel {
    background: #B5B5B5;
    margin: 0 5px 0 0;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    display: flex;
}
.pp-options .usual #panel button.button {
    background-color: #C8C8C8;
    border-radius:15px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding: 5px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.pp-options .usual #panel button.button:hover{
    background-color:#BBB;
}
.pp-options .usual #panel button.button:active {
	position:relative;
	top:1px;
}

.pp-options .usual div a {
    color: #000;
    font-weight: bold;
}

.pp-options .tab-content {
    padding: 5px 0 0 5px;
}

.pp-options .option-node {
    display: block;
    margin: 5px 0 5px 15px;
}

.pp-options .option-node label {
    font: 10pt Georgia;
    color: #FFF;
}

.pp-options .tab-content .text {
    margin-left: 15px;
}

/* Disables subcheckboxes if parent disabled */
.pp-options .option-node input[type="checkbox"]:not(:checked) ~.option-node {
    display: none;
}

.pp-options .option-node input[type="checkbox"]:not(:checked) ~.option-node label {
    color: #BBB;
}

/* Panel */
.pp-options .left, .pp-options .right {
    width: 50%;
}

.pp-options .left {
    float: left;
}

.pp-options .right {
    float: right;
}

.pp-options #status {
    display: block;
}

.pp-options #pp-version {
    margin-top: 6px;
    text-align: right;
}

/* Auto-loaded Booru pictures */
.booru_pic {
    display: block !important;
    float: none !important;
}

.booru_pic img {
    border: none;
    max-width: 60%;
    max-height: 300px;
}

/* Labels in post */
.post .post-id a .cn.changed_background{
}

.post .post-id a .authors_unique_count, .post .post-id a .recommendation_count {
    padding: 0 .5em;
    font-weight: normal;
    color: #35587c;
    background-color: #f2f2eb;
}

.post .post-id a .recommendation_count {
    margin-left: 0.2em;
    background-color: #f2eceb;
}

/* NSFW-content */
.post-tag-nsfw.blur-nsfw-images a.postimg img,
.post-tag-сиськи.blur-nsfw-images a.postimg img,
#comments.blur-nsfw-images a.postimg img{
    margin-top: 5px;
    -webkit-filter: blur(30px);
}

.post-tag-nsfw.blur-nsfw-images a.postimg:hover img,
.post-tag-сиськи.blur-nsfw-images a.postimg:hover img,
#comments.blur-nsfw-images a.postimg:hover img{
    -webkit-filter: none;
}

.post-tag-nsfw.hide-nsfw-posts,
.post-tag-сиськи.hide-nsfw-posts{
    display: none;
}

.post-tag-nsfw.blur-nsfw-entire .post-content .text,
.post-tag-сиськи.blur-nsfw-entire .post-content .text,
#comments.blur-nsfw-entire .post-content .text{
    -webkit-filter: blur(30px);
}

/* point-plus-debug */
.point-plus-debug{
    float: right;
    display: block;
    color: rgba(255,255,255,.75);
    padding: 10px 0px;
}

.post-tag-nsfw.hide-nsfw-posts,
.post-tag-сиськи.hide-nsfw-posts{
    display: none;
}

/* Черновики */
#new-post-form #text-input{
    height: 30em !important;
}

#new-post-form .draft_save_status{
    display: none;
    padding: 3px 5px;
    color: green;
}


/* Превью */
.preview_content_block{
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;/* @todo цвет */
    position: absolute;
    overflow-y: scroll;
    z-index: 13;
}

.preview_content_block div.collector{
    max-width: 95%;
}

.preview_content_block div.collector-375{
    display: none;
}

.preview_content_block h2{

}

.preview_content_block .collector img{
    max-width: 100%;
}






